.WeatherForecastWidget {
  margin: auto 0;
  padding: 0 1rem;
  background-image: linear-gradient(#b1d4e5, #03b4f8);
  border-radius: 25px;
}

.searchInput {
  margin-left: 1rem;
  width: 100%
}

ul {
  list-style-type: none
}

.center {
  
}

img {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

a {
  color: black;
}

h1 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.WeatherLargeCardDetails {
  font-size: 26px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.searchBar {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchResult:hover {
  background-color: #afdeee;
}
